---
import FaqItem from "./FaqItem.astro"
---
<>
  <FaqItem>
    <Fragment slot="q">Soll ich mir eine Kreditkarte besorgen?</Fragment>
    <Fragment slot="a">
      <p>
        Generell sind Kreditkarten in Indien nicht so weit verbreitet wie in Europa, aber in
        Bengaluru könnten wir Glück haben. In Indien ist ein System namens UPI das Mittel der Wahl,
        das über QR-Codes funktioniert. Allerdings hat man als Ausländer ohne indisches Bankkonto
        keinen Zugriff auf UPI. Da Bengaluru eine sehr internationalisierte Stadt ist, besteht die
        Hoffnung, dass Kreditkarten dort weiter verbreitet sind. Falls nicht, müssen wir nochmal
        gucken, wie man am besten an Bargeld kommt.
      </p>
    </Fragment>
  </FaqItem>
  <FaqItem>
    <Fragment slot="q">Mobiles Internet in Indien</Fragment>
    <Fragment slot="a">
      <p>
        Ich persönlich empfehle, euch eine eSIM zuzulegen. Alle halbwegs modernen Smartphones
        unterstützen eSIMs. Als Anbieter empfehle ich
        <a href="https://saily.com/de/" target="_blank" rel="noopener noreferrer">Saily</a>,
        eine europäische Firma.
      </p>
      <p>
        Das läuft dann so ab:
        Ihr kauft eine eSIM über die App. Die App installiert die eSIM
        automatisch auf eurem Smartphone. In Indien gelandet, aktiviert ihr die eSIM über die
        App vom Flughafen-WLAN. Der Schritt, den ich immer vergesse: Damit die eSIM funktioniert,
        muss in den Systemeinstellungen den Handys für die eSIM Roaming aktiviert werden.
      </p>
    </Fragment>
  </FaqItem>
  <FaqItem>
    <Fragment slot="q">Transfer vom Flughafen</Fragment>
    <Fragment slot="a">Infos folgen.</Fragment>
  </FaqItem>
</>
