---
import FlightDetails from "./FlightDetails.astro";
import { type FlightConnection } from "./types";

const flights: FlightConnection[] = [
  {
    guests: ["Florian"],
    route: [
      {
        from: "MUC",
        to: "MCT",
        departure: "2026-04-11T21:55:00+02:00",
        arrival: "2026-04-12T06:30:00+04:00",
        flightNumber: "Oman Air WY124",
      },
      {
        from: "MCT",
        to: "BOM",
        departure: "2026-04-12T09:20:00+04:00",
        arrival: "2026-04-12T13:40:00+05:30",
        flightNumber: "Oman Air WY203",
      },
      {
        from: "BOM",
        to: "VNS",
        departure: "2026-04-12T17:45:00+05:30",
        arrival: "2026-04-12T20:00:00+05:30",
        flightNumber: "IndiGo 6E 272",
      },
    ],
  },
  {
    guests: ["Shruti", "Florian"],
    route: [
      {
        from: "VNS",
        to: "BLR",
        departure: "2026-05-02T18:15:00+05:30",
        arrival: "2026-05-02T20:45:00+05:30",
        flightNumber: "IndiGo 6E 6597",
      },
    ],
  },
  {
    guests: ["Marie", "Robert"],
    route: [
      {
        from: "DRS",
        to: "MUC",
        departure: "2026-05-02T09:35:00+02:00",
        arrival: "2026-05-02T10:30:00+02:00",
        flightNumber: "Lufthansa LH2123",
      },
      {
        from: "MUC",
        to: "BLR",
        departure: "2026-05-02T12:05:00+02:00",
        arrival: "2026-05-03T00:30:00+05:30",
        flightNumber: "Lufthansa LH764",
      },
    ],
  },
  {
    guests: ["Ulrike", "André", "Uwe", "Basti", "Christin"],
    route: [
      {
        from: "DRS",
        to: "FRA",
        departure: "2026-05-02T10:35:00+02:00",
        arrival: "2026-05-02T11:40:00+02:00",
        flightNumber: "Lufthansa LH63",
      },
      {
        from: "FRA",
        to: "BLR",
        departure: "2026-05-02T12:50:00+02:00",
        arrival: "2026-05-03T01:20:00+05:30",
        flightNumber: "Lufthansa LH754",
      },
    ],
  },
  {
    guests: ["Andi", "Paul"],
    route: [
      {
        from: "FRA",
        to: "BLR",
        departure: "2026-05-02T12:50:00+02:00",
        arrival: "2026-05-03T01:20:00+05:30",
        flightNumber: "Lufthansa LH754",
      },
    ],
  },
  {
    guests: ["Jirka", "Calvin"],
    route: [
      {
        from: "PRG",
        to: "AUH",
        departure: "2026-05-02T11:20:00+02:00",
        arrival: "2026-05-02T19:05:00+04:00",
        flightNumber: "Etihad Airways EY156",
      },
      {
        from: "AUH",
        to: "BLR",
        departure: "2026-05-02T21:35:00+04:00",
        arrival: "2026-05-03T03:15:00+05:30",
        flightNumber: "Etihad Airways EY232",
      },
    ],
  },
  {
    guests: ["Marie", "Robert", "Ulrike", "André", "Basti", "Christin"],
    route: [
      {
        from: "BLR",
        to: "FRA",
        departure: "2026-05-09T03:00:00+05:30",
        arrival: "2026-05-09T09:05:00+02:00",
        flightNumber: "Lufthansa LH755",
      },
      {
        from: "FRA",
        to: "DRS",
        departure: "2026-05-09T13:35:00+02:00",
        arrival: "2026-05-09T14:35:00+02:00",
        flightNumber: "Lufthansa LH64",
      },
    ],
  },
  {
    guests: ["Shruti", "Florian"],
    route: [
      {
        from: "BOM",
        to: "MCT",
        departure: "2026-05-18T10:15:00+05:30",
        arrival: "2026-05-18T11:30:00+04:00",
        flightNumber: "Oman Air WY202",
      },
      {
        from: "MCT",
        to: "MUC",
        departure: "2026-05-18T15:50:00+04:00",
        arrival: "2026-05-18T20:55:00+02:00",
        flightNumber: "Oman Air WY123",
      },
    ],
  },
];
---

<section class="flight-list" aria-label="Gebuchte Flüge">
  {flights.map((flight) => <FlightDetails flight={flight} />)}
</section>

<style>
  .flight-list {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    margin: 1rem 0;
  }
</style>
