---
---

<header class="header">
  <h1 class="title">Shruti und Flo heiraten</h1>
  <div class="info">
    <span>In Bengaluru 🇮🇳</span>
    <span>5. bis 8. Mai 2026</span>
  </div>
</header>

<style>
  .header {
    margin-top: 100px;
    margin-bottom: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .title {
    margin: 0;
    font-size: 4em;
    font-family: 'Tangerine', serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }

  .info {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 0 1.5em;
    flex-wrap: wrap;
    margin: 40px 0 0;

    border-top: 1px solid;
    border-bottom: 1px solid;
    padding: 8px 1em;

    font-size: 1.5em;
    font-family: 'Playfair Display', serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }
</style>
